* {
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 0px;
}

h2 {
    font-family: "Roboto Mono";
    font-size: 500%;
    text-align: center;
    color: #eeeeee
}

h3 {
    font-family: "Roboto Mono";
    font-size: 250%;
    text-align: center;
    color: #eeeeee;
}

p, th, td {
    font-family: "Roboto";
    color: #eeeeee;
}

p.headerSize {
    font-family: "Roboto Mono";
    font-size: 3vw;
}

div.header {
    display: flex;

    margin: 0px;
    padding: 0px;
    height: 100vh;

    background-color: #000000;

    font-family: "Roboto Mono";
    font-size: 4vw;
    color: #eeeeee; /*reeeee*/

    justify-content: space-between;
    align-items: center;
}

div.listContainer {
    padding: 10px;
    display: flex;

    justify-content: space-between;
}

div.listItem {
    flex: 1;
    padding: 20px;
}

div.headerWhite {
    background-color: #eeeeee;

    height: 100vh;
    width: 25%
}

div.contentWrapper {
    padding: 20px;
    background-image: linear-gradient(to right, #ff416c, #ff4b2b);
}

div.innerContent {
    padding: 20px;
    margin: 0px 0px 20px 0px;
    background-color: #000000;
    text-align: center;
}

div.buttonContainer {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    background-image: linear-gradient(to right, #ff416c, #ff4b2b);
    border-radius: 5px;
    width: 188px;
}


img.avatar {
    position: relative;
    border-radius: 50%;

    left: -30%;
    top: 50%;
    transform: translate(0, -50%);

    filter: drop-shadow(0 0 7px #dc143c);
}

td {
    padding: 10px;
}

#status {
    text-align: center;
}

sh {
    color: #00ff15;
}

oh {
    color: #ff416c;
}

dead {
    color: #ff4b2b;
}

/* for future reference: https://www.w3schools.com/csS/tryit.asp?filename=trycss_buttons_animate1 */

.button {
    background-color: rgba(0,0,0,1);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: rgba(0,0,0,0);
}

table {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px) {
    div.listContainer {
        flex-direction: column;
    }
}