h2 {
    font-family: "Roboto Mono";
    font-size: 4vw;
    text-align: center;
    color: #eeeeee
}

h3 {
    font-family: "Roboto Mono";
    font-size: 2vw;
    text-align: center;
}

p, th, td {
    font-size: 1vw;
    font-family: "Roboto";
    color: #000000;
}

p.headerSize {
    font-family: "Roboto Mono";
    color: #eeeeee;
    font-size: 3vw;
}

div.header {
    display: flex;

    margin: 0px;
    padding: 0px;
    height: 100vh;

    background-color: #000000;

    font-family: "Roboto Mono";
    font-size: 3.8vw;
    color: #eeeeee; /*reeeee*/

    justify-content: space-between;
    align-items: center;
}

div.headerWhite {
    background-color: #eeeeee;

    height: 100vh;
    width: 25%
}

div.contentWrapper {
    padding: 20px;

    text-align: center;
    /*background-image: linear-gradient(to right, #ff416c, #ff4b2b);*/


    background-color: #151515;
}

#darkType {
    background-color: #000000;
}

div.innerContent {
    padding: 20px;
    margin: 0px 0px 20px 0px;
    background-color: #000000;
    text-align: center;
}

div.buttonContainer {
    display: inline-block;
    margin: 0 auto;
    padding: 0px 2px;
    background-image: linear-gradient(to right, #ff416c, #ff4b2b);
    border-radius: 5px;
}


img.avatar {
    position: relative;
    border-radius: 50%;

    left: -30%;
    top: 50%;
    transform: translate(0, -50%);

    filter: drop-shadow(0 0 7px #dc143c);
}

td {
    padding: 5px;
}

#status {
    text-align: center;
}

sh {
    color: #00ff15;
}

oh {
    color: #ff416c;
}

dead {
    color: #ff4b2b;
}

table {
    margin-left: auto;
    margin-right: auto;
}

@media (max-aspect-ratio: 1/1) {
    div.listContainer {
        flex-direction: column;
    }

    div.listItem {
        width: 100%;
    }

    h2 {
        font-size: 8vw;
    }

    h3 {
        font-size: 4vw;
    }

    p, th, td {
        font-size: 2vw;
    }
}