h3 {
    font-family: "Roboto Mono";
    font-size: 250%;
    text-align: center;
    color: #000000;
}

p, th, td {
    font-family: "Roboto";
    color: #000000;
}

p {
    font-size: 20px;
}

div.contentWrapper {
    flex-direction: row;
}

div.content1 {
    padding: 50px;
    background-color: #000000;

    text-align: left;
}

div.statusContainer {
    display: flex;
    flex-direction: row;

    align-items: center;

    padding-left: 10px;
    /*background-color: #eeeeee;*/
}

div.statusBox {
    padding: 10px;

    float: right;

    background-image: linear-gradient(to right, #ff416c, #ff4b2b);
    border-radius: 5px;
}

div.projectHeader {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
}

div.listContainer {
    flex-direction: column;
}

div.listItem {
    margin: 20vh 0px;
}

img.stickyImage {
    height: 80vh;

    border-radius: 5px;

    /*filter: drop-shadow(0 0 7px #dc143c);*/

    overflow-x: hidden;

    position: sticky;
    top: 10vh;    
}

#status {
    text-align: center;
}

#white {
    color: #eeeeee;
}

sh {
    color: #00ff15;
}

oh {
    color: #ff416c;
}

dead {
    color: #ff4b2b;
}