* {
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 0px;
}

h2 {
    font-family: "Roboto Mono";
    font-size: 500%;
    text-align: left;
    color: #eeeeee
}

h3 {
    font-family: "Roboto Mono";
    font-size: 250%;
    text-align: center;
    color: #000000;
}

p, th, td {
    font-family: "Roboto";
    color: #eeeeee;
}

div.header {
    display: flex;

    background-image: linear-gradient(to right, #ff416c, #ff4b2b);
    height: 50vh;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

div.headerContent {
    color: #eeeeee;
    font-family: "Roboto Mono";
    font-size: 4vw;

    background-color: #000000;

    padding: 50px;
}

div.content1 {
    padding: 50px;
    background-color: #000000;

    text-align: left;
}

div.statusContainer {
    display: flex;
    flex-direction: row;

    align-items: center;

    padding-left: 10px;
    background-color: #eeeeee;
}

div.statusBox {
    padding: 10px;

    float: right;

    background-image: linear-gradient(to right, #ff416c, #ff4b2b);
}

div.projectHeader {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

#status {
    text-align: center;
}

sh {
    color: #00ff15;
}

oh {
    color: #ff416c;
}

dead {
    color: #ff4b2b;
}

/* MARK: Footer */

#smallType {
    font-size: 20px;
}

div.footer {
    background-color: #151515;

    color: #eeeeee;

    padding: 20px;

    display: flex;
    justify-content: space-evenly;
}

div.footerVStack {
    display: flex;
    flex-direction: column;
}

.footerButton {
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    border: none;
    color: #FFFFFF;
    text-align: left;
    font-size: 28px;
    padding: 0;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;

    font-size: 30px;
    font-family: "Roboto Mono";
}

.footerButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.footerButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.footerButton:hover span {
    padding-right: 25px;
}

.footerButton:hover span:after {
    opacity: 1;
    right: 0;
}