.listItem {
    display: flex;

    flex-direction: column;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 3vw;
}

div.contentWrapper h2 {
    font-family: "Roboto Mono";
    font-size: 4.5vw;
    text-align: center;
    color: #eeeeee
}

div.contentSpacer {
    flex-grow: 1;
}

div.listContainer {
    flex-grow: 1;

    justify-content: space-evenly;
}

@media (max-aspect-ratio: 1/1) {
    div.contentWrapper h2 {
        font-size: 9vw;
    }
    h3 {
        font-size: 6vw;
    }
}