h2 {
    text-align: center;
    font-size: 3.5vw;
}

div.contentWrapper {
    padding: 40px 0;
}

div.listContainer {
    flex-grow: 1;

    justify-content: space-around;

    flex-wrap: wrap;
}

div.listItem {
    margin-bottom: 10vh;
}